* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
}

header {
 
  z-index: 2;
  width: 100%;
  height: 80px;
  background-color: #2b2b31;
  -webkit-box-shadow: 0px 0px 5px 3px #2b2b31;
          box-shadow: 0px 0px 5px 3px #2b2b31;
       
}

header .container {
  height: 100%;
}

header .container .row {

  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .row .header_logo_place {
 
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container .row .header_logo_place img {
  width: 50%;
}

header .container .row .header_nav_place {
  height: 100%;
}

header .container .row .header_nav_place ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .row .header_nav_place ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .row .header_nav_place ul li a {
  color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

header .container .row .header_nav_place ul li a:hover {
  color: #ff00d7;
}

header .container .row .header_search_place {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: large;
}

header .container .row .header_search_place .right_nav {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

header .container .row .header_search_place .right_nav .search_nav {
  width: auto;
  font-size: large;
  color: white;
}

header .container .row .header_search_place .right_nav .Sign_nav {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: antiquewhite;
  width: 35%;
  border-radius: 7px;
  background: #ff00d7;
  background: -webkit-gradient(linear, left top, right top, from(#ff00d7), to(#ff6600));
  background: linear-gradient(90deg, #ff00d7 0%, #ff6600 100%);
  -webkit-box-shadow: 0px 0px 5px 3px wheat;
          box-shadow: 0px 0px 5px 3px wheat;
}

header .container .row .header_search_place .right_nav .Sign_nav .mybtn-nav {
  color: white;
}

header .container .row .header_search_place .right_nav .Sign_nav .Sign_icon {
  display: none;
}

header .container .row .header_search_place .right_nav .Launge_nav {
  color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  cursor: pointer;
}

header .container .row .header_search_place .right_nav .Launge_nav:hover {
  color: #ff00d7;
}

header .container .row .header_search_place .menu-btn {
  display: none;
}

header .menyu-bugers {
  display: none;
  width: 99%;
}

header .menyu-bugers .row {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

header .menyu-bugers .row .right_burger {
  display: block;
  width: 35%;
  height: 800px;
  background-color: #2b2b31;
}

header .menyu-bugers .row .right_burger ul li {
  padding-top: 15px;
}

header .menyu-bugers .row .right_burger ul li a {
  color: white;
}

.search_container
{
  transform :translatey(-50px);
  visibility: hidden;
  transition-duration: 0.5s;
  width: 100%;
  height: 50px;
  background-color: #2b2b31;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  border-top: 0.1px solid wheat; ;
  box-shadow: 0px 0px 5px 3px #2b2b31;
}
.slider_icon_btn_place{
  width: 40px;
  height: 40px;
  background-color: #2b2b31;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  border: 0.2px solid rgb(65, 65, 65);
  box-shadow: 0px 0px 5px 1px rgb(65, 65, 65);
}
.search_row
{
  width: 80%;
 
  height: 100%;
  display: flex;
  justify-content: center;
}
.search_input_nav
{ 
  width: 90%;
  height: 100%;

}
.button_search{
  width: 10%;
  display: flex;
 align-items: center;
 
}
.search_input_nav input
{ 
  width: 100%;
  height: 100%;
  background-color: #2b2b31;
  border: none;
  color: white;
 
}

.button_search button{
  width: 80%;
  height: 80%;
  border-radius: 5%;
  background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  box-shadow: 0px 0px 5px 3px wheat;
  border: none;
}
.search_icon
{
  cursor: pointer;
}

.movies
{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
 
}
.home-title{
  color: white;
}
#slider
{
  background-image: url("/assets/img/home__bg3.jpg");
  padding-top:70px
}
.movie-item
{ 
  width: 22%;
  height: 70%;

  
}
.img_card
{
  width: 100%;
  height: 80%;
}
.img_card img
{
  width: 100%;
  height: 100%;
}
.card_title
{
  color: white;
}
.card_category
{
  color: #ff00d7;
}
.card_imdb
{
  color: #ff00d7;
}
.icons
{
  display: flex;
  justify-content: space-around;
}
.slidericon
{
  color: white;
  font-size: large;
  display: flex;
  gap: 20px;

 
}
.slidericon i
{
  background-color: #2b2b31;
 font-size: 20px;
}



@media screen and (max-width: 1200px) {
  header {
    width: 100%;
    height: 80px;
    background-color: #2b2b31;
    -webkit-box-shadow: 0px 0px 5px 3px #2b2b31;
            box-shadow: 0px 0px 5px 3px #2b2b31;
  }
  .button_search button {
    height: 60%;
  font-size: 8px;
  }
  header .container {
    height: 100%;
    z-index: 2;
  }
  header .container .row {
    height: 100%;
  }
  header .container .row .header_logo_place {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .container .row .header_logo_place img {
    width: 50%;
  }
  header .container .row .header_nav_place {
    display: none;
    height: 100%;
  }
  header .container .row .header_nav_place ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .container .row .header_nav_place ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .row .header_nav_place ul li a {
    color: white;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  header .container .row .header_nav_place ul li a:hover {
    color: #ff00d7;
  }
  header .container .row .header_search_place {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: large;
  }
  header .container .row .header_search_place .menu-btn {
    display: block;
  }
  header .container .row .header_search_place .menu-btn .hidden_menu {
    display: none;
  }
  header .container .row .header_search_place .menu-btn .menu-btn__burger i {
    font-size: 1.5em;
    color: white;
    cursor: pointer;
  }
  header .container .row .header_search_place .right_nav {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5%;
  }
  header .container .row .header_search_place .right_nav .search_nav {
    width: auto;
    font-size: large;
    color: white;
  }
  header .container .row .header_search_place .right_nav .Sign_nav {
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: antiquewhite;
    width: 35%;
    border-radius: 7px;
    background: #ff00d7;
    background: -webkit-gradient(linear, left top, right top, from(#ff00d7), to(#ff6600));
    background: linear-gradient(90deg, #ff00d7 0%, #ff6600 100%);
    -webkit-box-shadow: 0px 0px 5px 3px wheat;
            box-shadow: 0px 0px 5px 3px wheat;
  }
  header .container .row .header_search_place .right_nav .Sign_nav .mybtn-nav {
    display: none;
    color: white;
  }
  header .container .row .header_search_place .right_nav .Sign_nav .Sign_icon {
    display: block;
  }
  header .container .row .header_search_place .right_nav .Launge_nav {
    color: white;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    cursor: pointer;
  }
  header .container .row .header_search_place .right_nav .Launge_nav:hover {
    color: #ff00d7;
  }
  header .menyu-bugers {
    display: block;
  }
  header .menyu-bugers .row {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  header .menyu-bugers .row .right_burger {
    display: block;
    width: 35%;
    height: 800px;
  }
  header .menyu-bugers .row .right_burger ul li {
    padding-top: 15px;
  }
  header .menyu-bugers .row .right_burger ul li a {
    color: white;
  }
}
/*# sourceMappingURL=index.css.map */

