*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none !important;
   list-style: none ;

}
header{
width: 100%;
height: 80px;
background-color: #2b2b31;
box-shadow: 0px 0px 5px 3px #2b2b31 ;
    .container{
        height: 100%;
        .row{
            height: 100%;
            justify-content: space-between;
            .header_logo_place{
         
                // width: 100%;
                height: 100%;
                display: flex;
            
              justify-content: center;
                img{
                    width: 50%;
                    
                 
                }
            }
            .header_nav_place{
               
       
              
                height: 100%;
               
                ul{
                  
                    height: 100%;
                display: flex;
                justify-content: space-between;
               
                li{
                    display: flex;
                    align-items: center;
                    a{
                       color: white;
                       transition: 0.1s;
                    transition-timing-function: linear;

                    }
                  a:hover{
                    color:  rgb(255,0,215);
                  }
                }
                }
            }
          
            .header_search_place{
               
               
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: large;
                .right_nav{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                      padding: 0 5%;
                    
                    .search_nav
                    { width: auto;
                      
                        font-size: large;
                        color: white;
                        
                    }
                    .Sign_nav
                    { 
                           height: 70%;
                           display: flex;
                    justify-content:center;
                    align-items: center;
                    background-color: antiquewhite;
                    width: 35%;
                   border-radius: 7px;
                   background: rgb(255,0,215);
background: linear-gradient(90deg, rgba(255,0,215,1) 0%, rgba(255,102,0,1) 100%);
box-shadow: 0px 0px 5px 3px wheat ;

                    .mybtn-nav{
                        color: white;
                    }
                    .Sign_icon
                    {
                      display: none;

                    }

                    }
                    .Launge_nav
                    {
                    color: white;
                    transition: 0.1s;
                    transition-timing-function: linear;
                    cursor: pointer;

                  }  .Launge_nav:hover{
                    color:  rgb(255,0,215);
                   
                  }
                
                }
               .menu-btn{
                display: none;
               }
            }
        }
       
    }
    .menyu-bugers{
        display: none;
        .row{
position: relative;
justify-content: right;
            .right_burger{
            
                width: 25%;
                height: 800px;
                left: 1000px;
                
                background-color: #2b2b31;
            }
        }
    }
    
}



@media screen and(max-width:1200px) {
  #aqil{
    margin-right: 20px;
  }
}

@media screen and(max-width:1200px) {

   
    header{
        width: 100%;
        height: 80px;
        background-color: #2b2b31;
        box-shadow: 0px 0px 5px 3px #2b2b31 ;
            .container{
                height: 100%;
                .row{
                    height: 100%;
                    .header_logo_place{
                 
                        // width: 100%;
                        height: 100%;
                        display: flex;
                    
                      justify-content: center;
                        img{
                            width: 50%;
                            
                         
                        }
                    }
                    .header_nav_place{
                       
               
                      display: none;
                        height: 100%;
                       
                        ul{
                          
                            height: 100%;
                        display: flex;
                        justify-content: space-between;
                       
                        li{
                            display: flex;
                            align-items: center;
                            a{
                               color: white;
                               transition: 0.1s;
                            transition-timing-function: linear;
        
                            }
                          a:hover{
                            color:  rgb(255,0,215);
                          }
                        }
                        }
                    }
                  
                    .header_search_place{
                       
                       
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: large;
                         .menu-btn{
                            display: block;
                            .hidden_menu{
                                display: none;
                            }
                            .menu-btn__burger{
                                i{
                                    font-size: 1.5em;
                                    color: white;
                                    cursor: pointer;
                                }
                            }
                           }
                        .right_nav{
                            height: 100%;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                              padding: 0 5%;
                             
                            .search_nav
                            { width: auto;
                              
                                font-size: large;
                                color: white;

                                
                            }
                            .Sign_nav
                            { 
                                   height: 40%;
                                   display: flex;
                            justify-content:center;
                            align-items: center;
                            background-color: antiquewhite;
                            width: 35%;
                           border-radius: 7px;
                           background: rgb(255,0,215);
        background: linear-gradient(90deg, rgba(255,0,215,1) 0%, rgba(255,102,0,1) 100%);
        box-shadow: 0px 0px 5px 3px wheat ;
        
                            .mybtn-nav{
                                display: none;
                                color: white;
                            }
                            .Sign_icon
                            {
                              display: block;
        
                            }
        
                            }
                            .Launge_nav
                            {
                            color: white;
                            transition: 0.1s;
                            transition-timing-function: linear;
                            cursor: pointer;
        
                          }  .Launge_nav:hover{
                            color:  rgb(255,0,215);
                           
                          }
                        
                        }
                       
                    }
                }
            }
         
            .menyu-bugers{
            
                display: block;
                .row{
      
                  justify-content: right;
                    .right_burger{
                      display: block;
                        width: 35%;
                        height: 800px;
                      
                   
                          ul{
                            
                            li{
                                padding-top: 15px;
                                a{
                                    color: white;
                                }
                            }
                          }
                    }
                }
            }
           
            
        }
       
        
        
           
}